@font-face{
	font-family: philing;
	src: url("philing.ttf");
}
body{
	background-color: #e3fad3;
}
.heading{
	font-family: philing;
	font-size: 60px;
	text-align: center;
	color: #772987;
}
.layout{
	font: system;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap:20px;
	img{
		height: 300px;
		width: 300px;
	}
}
.sub-heading{
	text-align: center;
	font: system;
}
.footer{
	text-align: center;
	margin-top: 50px;
}
@media screen and (max-width: 480px) {
	.layout {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
	}

}