.logo {
	background-color: #fff;
	color: black;
}

.header {
	background-color: #fff;
	color: black;
}

.nav {
	background-color: #fff;
	color: black;
	ul {
		list-style: none;
	}
	a {
		background-color: #fff;
		color: black;
	}
	a:hover{
		background-color: #fff;
	}
}

.content{
	background-color: ;
	color: ;
}

.inner-grid {
	background: #fff;
	/*background-color: ;*/
	color: black;
}

.card {
	background-color: #dde4ed;
	color: black;
	a {
		color: black;
	}
	a:hover {
		color: ;
	}
}

.footer {
    background-color: white;
    color: black;
}

