
body{
	background-image: url("tan-horse-resized.png");
	background-size:cover;
	background-repeat:no-repeat;
	text-align:center;
}
@font-face{
    font-family: DancingScript;
    src: url(DancingScript-regular.ttf);
}
@font-face{
    font-family: DancingScript;
    src: url(DancingScript-bold.ttf);
    font-weight: bold;
}
.intro{
	font-family: DancingScript;
	font-size: 30px;
}
.just{
	font-family: DancingScript;
	font-weight:bold;
	font-size: 120px;
}
a{
	font-family: DancingScript;
	font-size: 50px;
	text-decoration: none;
	color: black;
	opacity: 0; 					/* for fade in */
	animation: fadeIn 3s forwards; 	/* for fade in */
	animation-delay: 1.25s;			/* for fade in */
}
@keyframes fadeIn {		/* for fade in */
    to {				/* for fade in */
        opacity: 1;		/* for fade in */
    }					/* for fade in */
}						/* for fade in */


