/*Co
.mark-tea
{
    background-color: #C7F2A7;
    color: black;
}
.mark-green
{
    background-color: #3d836a;
    color: #ffffff;
}
.mark-blue
{
    background-color: #6b7a6a;
    color: #ffffff;
}


/*complimentary analogue split green*/
.mark-comp-sp-olive
{
    background-color: #718729;
    color: #ffffff;
}
.mark-comp-sp-sage
{
background-color: #298752; 
color: #ffffff; 
}
.mark-comp-sp-purple
{
    background-color: #772987;
    color: #ffffff;
}


/*complimentary split green*/
.mark-comp-gold
{
    background-color: #c9c46d;
}
.mark-comp-green
{
    background-color: #6dc97a;
}
.mark-comp-purple
{
    background-color: #9f6dc9;
}