.wrapper {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 75px auto auto  auto auto auto auto auto 50px;
    grid-template-areas: 
        "a a b b b b b b b"
        "c c d d d d d d d"
        "c c d d d d d d d"
        "c c d d d d d d d"
        "c c d d d d d d d"
        "c c d d d d d d d"
        "c c d d d d d d d"
        "c c d d d d d d d"
        "f f e e e e e e e";
}

.logo{
    display: grid;
    grid-area: a;
/*    background-color: #718729;*/
    background: linear-gradient(to right,#298752,#718729);

    color: #ffffff;
    font-size: 40px;
    justify-items: center;
    align-items: center;

}
.header{
    display: grid;
    grid-area: b;
    background-color: #718729;
    color: #ffffff;
    font-size: 40px;
    justify-items: center;
    align-items: center;
}
.nav{
    display: grid;
    grid-area: c;
/*    background-color: #298752;*/
    background: linear-gradient(to right,#298752,#C7F2A7);


    color: #ffffff;
    font-size: 25px;
    justify-items: center;  

    ul {
        list-style: none;
    }
    a {
        text-decoration:none;
    }
    a:hover {
        background-color: #772987;
    }
}
.nav-bottom{
    display: grid;
    grid-area: f;
/*    background-color: #718729;*/
    background: linear-gradient(to right,#298752,#718729);

}
/*.nav-right{
    display: grid;
    grid-area: f;
    background: linear-gradient(to right,#298752,#C7F2A7);
}*/

.nav ul li a{
    list-style-type: none;
    display: inline-grid;
    color: #ffffff;
}

.content{
    display: grid;
    grid-area: d;
    background-color: #772987;
    color: #ffffff;
    font-size: 20px;
}

.inner-grid {
  display: grid;
  background: #C7F2A7;
  color: #404a12;
  height: 100%;
  grid-gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}
.card{
    background-color: #3d836a;
    color: #ffffff;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    p {
        margin: 15px;
    }
    h3 {
        margin: 15px;
    }
    a {
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;

    }
    a:hover{
        color: #b380dd;
    }
}

.footer{
    display: grid;
    grid-area: e;
    background-color: #718729;
    color: #ffffff;
    justify-items: center;
    align-items: center;

}

@media screen and (max-width: 480px) {
    .wrapper {
/*      grid-template-columns: 1fr 1fr;*/
      display: grid;
      grid-template-columns: repeat(2, 1fr);  
      grid-template-areas:
        "a a"
        "b b"
        "c c"
        "d d"
        "e e";
/*        "g g";*/
    }
    .nav{
/*        grid-area: c;*/
        justify-content:center;
        display: inline-grid;
    }
    .nav ul li {
      justify-content: center;
      display: inline-grid;
    }
  }




